<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="not found content">OOOps!, Page not Found :)</div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
