<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Koose</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Koose</h1></a>
        <p>A Blog Koose Site Under contruction</p>
      </div>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create</a></li>
      </ul>
    </nav>

    <div class="not found content">OOOps!, Page not Found :)</div>
  </body>
</html>
