<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>All Blogs</h2>
      <p>Bra Koose, is backend Developer, and wants to blog too.</p>
      <p>
        Blogging is becoming profitable day in and out so we going to blog too
        lol
      </p>
      <p>I was a Blogger wayback 2018 on Entertainment Mp3</p>
      <p>
        I took time off to improve my Media and programming skills, took
        internship at Orange1079 and now i am really proficient in Java, Kotlin,
        Javascript and PPython
      </p>
      <p>Now i am putting all my resources together</p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
