.container {
  text-align: center;
}

.profile {
  width: 100px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0px auto 0px;
}

.welcome {
  text-align: center;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: bold;
}

.other_info {
  text-align: center;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: rgb(75, 75, 75);
  padding-bottom: 20px;
}

.card_section {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  width: 20%;
  margin: 0px auto 0px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 5px #ccc;
}
.card_1 {
  text-align: left;
  font-weight: bolder;
  font-size: larger;
}
.header_card1 {
  float: left;
  width: 30%;
}
.image_text {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn {
  color: white;
  text-decoration: none;
  background-color: rgb(0, 102, 255);
  border-radius: 5px;
  padding: 10px;
}
.card_comp_3 {
  text-align: right;
  padding-top: 10px;
}
